---
layout: default
---
<div class="posts">
{% assign projects = site.post | where_exp:"p", "p.category.id = 'projects'" -%}
{% for post in site.projects -%}
<article class="post">    
<h1>
{% include post/link.html title = "" link = post.link -%}
{% include post/project.html title = "" project = post.project -%}
<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
{% include post/meta.html %}
<div class="entry">
{% if post.link or post.project -%}
{{ post.content }}
{% else -%}      
{{ post.excerpt }}
{% endif -%}
</div>
{% include post/links.html links = post.links %}
{% if post.content != post.excerpt -%}
<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
{% endif -%}
</article>
{% endfor -%}
</div>