---
layout: default
---
<div class="posts">
{% for post in site.posts -%}
<article class="post">    
<h1>
{% include post/link.html title = "" link = post.link -%}
{% include post/project.html title = "" project = post.project -%}
<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
{% include post/meta.html -%}
<div class="entry">
{%- if post.link or post.project -%}
{{ post.content }}
{%- else -%}      
{{ post.excerpt }}
{% endif -%}
{% include post/gist.html title = post.title gist = post.gist -%}
{% include post/gists.html gists = post.gists -%}
{% include post/links.html links = post.links -%}
</div>
{% if post.content != post.excerpt -%}
<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
{% endif -%}
</article>
{% endfor -%}
</div>