---
layout: default
---
<article class="post">
<h1>
{% if page.category == 'link' -%}
{% include post/link.html title = page.title links = page.links %}
{% elsif page.category == 'project' && site.github_user -%}
<a href="https://github.com/{{ site.github_user }}/{{ page.title }}" class="github-project-link">{{ page.title }}</h1>
{% else -%}
{{ page.title }}
{% endif -%}
</h1>
{% include post/meta.html %}
<div class="entry">
{{ content }}
</div>
<!--{{ page.links }}-->
{% if page.category == "link" -%}
{% capture links %}{{ page.links | offset }}{% endcapture -%}
{% else -%}
{% capture links %}{{ page.links }}{% endcapture -%}
{% endif -%}
<!--{{ links }}-->
{% if links.size > 0 -%}
{% if include.category == "link" -%}
Also
<br/>
{% endif -%}
<ul>
{% for link in links -%}
<li><a href="{{ link }}">{{ link }}</a></li>
{% endfor -%}
</ul>
{% endif -%}
<!-- {% include post/links.html links = page.links category = page.category %} -->
<div id="page-navigation"> 
<div class="previous"> 
{% if page.previous.url -%} 
<a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a>
{% endif -%}
</div>
<div class="next"> 
{% if page.next.url -%} 
<a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post: {{page.next.title}}">{{page.next.title}}</a> 
{% endif -%} 
</div>
</div> 
{% include disqus.html disqus_identifier=page.disqus_identifier -%}
</article>