---
layout: default
---
<article class="post">
<h1>
{% if page.link -%}
{% include post/link.html title = page.title link = page.link -%}
{% elsif page.project -%}
{% include post/project.html title = page.title project = page.project -%}
{% else -%}
{{ page.title }}
{% endif -%}
</h1>
{% include post/meta.html -%}
<div class="entry">
{% include post/gist.html title = page.title gist = page.gist -%}
{{ content }}
</div>
{% include post/links.html links = page.links -%}
<div id="page-navigation"> 
<div class="previous"> 
{% if page.previous.url -%} 
<a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a>
{% endif -%}
</div>
<div class="next"> 
{% if page.next.url -%} 
<a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post: {{page.next.title}}">{{page.next.title}}</a> 
{% endif -%} 
</div>
</div> 
{% include disqus.html disqus_identifier=page.disqus_identifier -%}
</article>