---
layout: default
---

<article class="post">
  
  {% if page.external-url %}
    <h1><a href="{{ page.external-url }}">{{ page.title }}</a></h1>
  {% else %}
    <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
  {% endif %}
  {% include post/meta.html %}
  {% if page.external-url && page.external-title %}
    <a href="{{ page.external-url }}" class="read-link">{{ page.external-title }}</a>
  {% elsif page.external-url %}
    <a href="{{ page.external-url }}" class="read-link">{{ post.external-url }}</a>
  {% endif %}
  {% if page.github-project && site.github_user %}
    <a href="https://github.com/{{ site.github_user }}/{{ page.github-project }}" class="github-project-link">{{ page.github-project }}</a>
  {% endif %}
  <div class="entry">
    {{ content }}
  </div>
  
  <div id="page-navigation"> 
        <div class="previous"> 
        {% if page.previous.url %} 
                <a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post: 
{{page.previous.title}}">{{page.previous.title}}</a>
        {% endif %} 
        </div>

        <div class="next"> 
        {% if page.next.url %} 
               <a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post: 
{{page.next.title}}">{{page.next.title}}</a> 
        {% endif %} 
        </div>
</div> 

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
