<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
{% if page.redirect.to -%}
{% capture redirect %}{{ page.redirect.to | remove_first: site.baseurl }}{% endcapture -%}
{% else -%}
{% capture redirect %}{{ page.redirect }}{% endcapture -%}
{% endif -%}
<meta http-equiv="refresh" content="0;url={{ redirect }}">
</head>
<body>
    This content should be at <a href="{{ redirect }}">{{ redirect }}</a> instead.
    <br/>
    But you should have been sent there automatically.
</body>
</html>