<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
Redirect: {{ page.redirect }}
From: {{ page.redirect.from }}
To: {{ page.redirect.to }}
{% capture corrected_redirect %}{{ page.redirect.to | remove_first: site.baseurl }}{% endcapture -%}
<meta http-equiv="refresh" content="0;url={{ corrected_redirect }}">
</head>
<body>
    This content should be at <a href="{{ corrected_redirect }}">{{ corrected_redirect }}</a> instead.
    <br/>
    But you should have been sent there automatically.
</body>
</html>